.container {
    max-width: 1570px;
    margin: 0 auto;
    padding: 0 30px;
}
.body-container {
    overflow: hidden;
    position: relative;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    box-shadow: 20px 20px 40px $darkColor;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: $whiteColor;
    background-color: $mainColor;
    cursor: pointer;
    transition: all .4s ease;
    &:hover {
        background-color: $mainColorHover;
    }
}
.title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: $whiteColor;
    position: relative;       
    margin-bottom: 60px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 90%;
        height: 3px;
        background-color: $mainColor;

    }
}
.hide {
    visibility: hidden;
    opacity: 0;
    .modal-dialog {
        transform: scale(0);
    }
}
.show {
    visibility: visible;
    opacity: 1;
    .modal-dialog {
        transform: scale(1);
    }
}
.splide__arrow--next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -60px;
    right: 120px;
    background-color: $mainColor;
}
.splide__arrow--prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -60px;
    left: 80%;
    background-color: $mainColor;
}
.open {
    .hamburger {
        span {
            &:first-child {
                top: 0;
                transform: rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:last-child {
                top: 0;
                transform: rotate(-45deg);
            }
        }
        &-nav {
            left: 0;
        }
    }
}