@media(max-width: 1600px) {
    .main {
        padding: 100px 0;
        &-title {
            line-height: 140%;
        }
    }
}
@media(max-widtH:1280px) {
    .splide__arrow--prev {
        left: 75%;
    }
}
@media(max-width:1024px) {
    .main {
        &-title {
            font-size: 45px;
            max-width: 600px;
            margin-bottom: 30px;
        }
        &-btn {
            width: 300px;
        }
    }
    .about {
        padding: 70px 0;
        &-title {
            margin-bottom: 10px;
        }
        &-wrapper {
            flex-wrap: wrap;
        }
        &-left {
            width: 40%;
        }
        &-right {
            max-width: 100%;
        }
        &-info {
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 10px;
        }
    }
    .splide__arrow--prev {
        left: 70%;
    }
    .services {
        padding: 50px 0;
        &-wrapper {
            justify-content: center;
            row-gap: 50px;
        }
    }
    .advantages {
        padding: 50px 0;
    }
    .portfolio {
        padding: 50px 0;
    }
    .feedback {
        &-title {
            max-width: 85%;
        }
        &-form {
            max-width: 85%;
        }
    }
    .footer {
        &-policy {
            width: 40%;
        }
        &-copy {
            width: 16%;
        }
    }
}
@media (max-width:996px) {
    .header-nav {
        display: none;
    }
    .main {
        padding: 100px 0 20px 0;
    }
    .hamburger {
        z-index: 3;
        display: block;
        &-nav {
            z-index: 2;
            display: block;
            background-color: $darkGrayColor;
            position: absolute;
            width: 70%;
            height: 100vh;
            top: 0;
            left: -100%;
            transition: all .4s ease;
        }
        &-list {
            flex-direction: column;
            align-items: start;
            padding: 70px;
        }
    }
    .services {
        &-wrapper {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        }
        &-item {
            &__img {
                height: 190px;
                margin-bottom: 15px;
            }
            &__title {
                font-size: 22px;
                margin-bottom: 10px;
            }
            &__descr {
                font-size: 14px;
            }
        }
    }
    .splide__pagination {
        top: 235px;
    }
    .splide__pagination__page.is-active {
        background-color: $mainColor !important; /* оранжевый */
    }
    .footer {
        &-policy {
            width: 70%;
        }
        &-copy {
            width: 20%;
        }
    }
}
@media (max-width:768px) {
    .title {
        font-size: 40px;
    }
    .main {
        padding: 100px 0 0 0;
    }
    .about {
        &-title {
            max-width: 150px;
        }
    }
    .services {
        &-title {
            max-width: 365px;
        }
        &-wrapper {
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        }
        &-item {
            &__img {
                height: 190px;
            }
            &__descr {
                margin-bottom: 10px;
            }
        }
    }
    .advantages {
        &-title {
            max-width: 330px;
        }
        &-wrapper {
            grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
            gap: 30px;
        }
        &-item {
            &__title {
                font-size: 22px;
            }
        }
    }
    .portfolio {
        &-title {
            max-width: 215px;
        }
    }
    .reverse {
        visibility: hidden;
    }
    .feedback {
        &-form {
            width: 100%;
        }
        &-input {
            width: 80%;
        }
        &-btn {
            width: 80%;
        }
    }
}
@media (max-width: 650px) {
    .feedback {
        &-input {
            width: 100%;
        }
        &-btn {
            width: 100%;
        }
    }
}
@media (max-width: 580px) {
    .main {
        &-title {
            font-size: 35px;
            max-width: 440px;
        }
    }
    .about {
        &-left {
            width: 100%;
        }
    }
    .feedback {
        padding: 30px 0;
        &-title {
            font-size: 30px;
            max-width: 100%;
        }

    }
    .footer {
        &-policy {
            width: 100%;
        }
        &-copy {
            width: 100%;
        }
    }
    .hamburger {
        &-list {
            padding: 100px 70px 100px 30px;
        }
        &-link {
            font-size: 100%;
        }
    }
}
@media (max-width: 380px) {
    .container {
        padding: 0 15px;
    }
    .title {
        font-size: 35px;
    }
    .header {
        padding: 15px 0;
    }
    .main {
        padding: 200px 0 0 0;
        &-title {
            font-size: 25px;
            max-width: 100%;
        }
        &-btn {
            width: 250px;
            height: 40px;
            margin-bottom: 10px;
        }
        &-text {
            margin-bottom: 10px;
        }
        &-icon {
            width: 25px;
            height: 25px;
        }
    }
    .about {
        &-title {
            max-width: 130px;
        }
    }
    .services {
        &-title {
            max-width: 130px;
        }
    }
    .advantages {
        &-title {
            max-width: 285px;
        }
    }
    .portfolio {
        &-title {
            max-width: 130px;
        }
    }
    .feedback {
        &-title {
            font-size: 22px;
            margin-bottom: 20px;
        }
        &-input {
            height: 40px;
        }
    }
    .footer {
        padding: 20px 0;
        &-social {
            margin-bottom: 10px;
            justify-content: start;
        }
        &-link {
            width: 30px;
            height: 30px;
        }
        &-policy {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
}
@media (max-width: 320px) {
    .title {
        margin-bottom: 35px;
    }
}