.hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    display: none;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 85%;
        height: 6px;
        border-radius: 10px;
        background-color: $mainColor;
        transform: translate(-50%, -50%);
        &:first-child {
            top: 15px;
            transition: all .4s ease;
        }
        &:last-child {
            top: 35px;
            transition: all .4s ease;
        }
    }
    &-icon {
        display: block;
        width: 30px;
        height: 30px;
    }
    &-nav {
        display: none;
    }
}